@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

/* Animasi Halus untuk Scrollbar di Guestbook */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #B58D67;
  border-radius: 10px;
}   